.aboutMe {
  width: 80vw;
  height: 35vh;
  background-color: aqua;
}

.aboutMeHeader {
  width: 80vw;
  height: 5vh;
  background-color: red;
}

.aboutMeFooter {
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

.aboutMeFooterIntro {
  width: 60vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
}

.aboutMeFooterSkill {
  width: 60vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: red;
}

.project {
  width: 80vw;
  height: 90vh;
  background-color: aqua;
}

.projectHeader {
  width: 80vw;
  height: 5vh;
  background-color: red;

}

.projectFooter {
  width: 80vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: bisque;
}

.projectFooterImg{
  width: 15vw;
  height: 50vh;
}

.projectFooterImgSize{
  width: 100%;
  height: 100%;
}
.projectFooterImgContent{
  width:20vw;
  height: 25vh;
}

.link {
  width: 80vw;
  height: 20vh;
  background-color: blue;
}

.linkHeader {
  width: 80vw;
  height: 5vh;
  background-color: red;
}

.linkFooter {
  width: 80vw;
  height: 15vh;
  background-color: bisque;
}