.aboutMe{
  width: 80vw;
  height: 35vh;
  background-color: aqua;

}
.aboutMeHeader{
  width: 80vw;
  height: 5vh;
  background-color: red;
}
.aboutMeFooter{
  width: 80vw;
  height: 30vh;
  background-color: bisque;
}
.project{
  width: 80vw;
  height: 45vh;
  background-color: aqua;
}
.projectHeader{
  width: 80vw;
  height: 5vh;
  background-color: red;

}
.projectFooter{
  width: 80vw;
  height: 40vh;
  background-color: bisque;
}

.link{
  width: 80vw;
  height: 20vh;
  background-color: blue;
}

.linkHeader{
  width: 80vw;
  height: 5vh;
  background-color: red;
}

.linkFooter{
  width: 80vw;
  height: 15vh;
  background-color: bisque;
}